## global css
#set($css_global_file = {
	"global": "global/1.0.0/global.css"
})
#foreach($item in $css_global_file.entrySet())
    <link charset="utf-8" rel="stylesheet" href="/assets/$item.value" media="all" />
#end

##page css
#set($css_file = {
	"mytest": {
		"global": [],
		"index": ["mytest/1.0.0/mytest.css"],
		"columnal" : [
			"columnal/2.0/columnal.css"
		]
	}
})
#foreach($item in $css_file.entrySet())
	#if($__key)
		#if($item.key == $__key.split('/').get(0))
			## current module
    		#foreach($item2 in $item.value.entrySet())
    			#if('global' == $item2.key)
					## module global
					#foreach($item3 in $item2.value.entrySet())
						<link charset="utf-8" rel="stylesheet" href="/assets/$item3.value" media="all" />
					#end
				#end
				#if($__key.split('/').get(1) == $item2.key)
					## page defined
					#foreach($item4 in $item2.value.entrySet())
						<link charset="utf-8" rel="stylesheet" href="/assets/$item4.value" media="all" />
					#end
				#end
    		#end
		#end
	#end
#end
