#if($useColumnal)
	#parse("../../public/component/columnalSidebar.vm")
    </div><!--end row-->
        #parse("../../public/component/columnalFootCommon.vm")
        </div><!--end wrapper-->
#elseif($!useFoundation)
    </div>
    ## Foundation ui default include jQuery 2
    <script src="/assets/foundation/5.5.0/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
#else
    #parse("../../public/component/sidebar.vm")
    #parse("../../public/component/footCommon.vm")
    </div><!--end wrapper-->
#end
##配置js
#parse('../config/js.vm')
#if($!__js)
	<script>
		$!__js
	</script>
#end
</body>
</html>