#wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 96%;
}

#header {
	margin: 0 10px 0 10px;
	width: 97.916667%; /* 940 / 960 */
}

#navigation {
	padding-bottom: 25px;
	margin-top: 26px;
	margin-left: -1.0416667%; /* 10 / 960 */
	padding-right: 1.0416667%; /* 10 / 960 */
	padding-left: 1.0416667%; /* 10 / 960 */
	width: 97.916667%; /* 940 / 960 */
	background-color: #bfbfbf;
	border-bottom-style: double;
	border-bottom-width: 4px;
}

#navigation ul li {
	display: inline-block;
	margin-right: 2.6595745%; /* 25 / 940 */
}

#navigation ul li a {
	height: 42px;
	line-height: 42px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6875em; /* 27 / 16 */
	color: black;
}

#content {
	margin-top: 58px;
	margin-right: 10px;
	margin: 58px 10px 0 0;
	float: right;
	width: 72.7083333%; /* 698 / 960 */
}

#sidebar {
	border-right-color: #e8e8e8;
	border-right-style: solid;
	border-right-width: 2px;
	margin: 58px 10px 0 10px;
	float: left;
	width: 22.7083333%; /* 218 / 960 */
}

#footer {
	float: left;
	margin: 20px 10px 0 10px;
	clear: both;
	width: 97.916667%; /* 940 / 960 */
}

@media screen and (max-width: 768px) {
	#wrapper {
		width: 768px;
		margin: 0px;
	}
	#logo {
		text-align: center;
	}
	#navigation {
		text-align: center;
		background-image: none;
		border-top-color: #bfbfbf;
		border-top-style: double;
		border-top-width: 4px;
		padding-top: 20px;
	}
	#navigation ul li a {
		background-color: #dedede;
		line-height: 60px;
		font-size: 40px;
	}
	#header,#footer,#navigatin {
		width: 748px;
	}
	#content,#sidebar {
		padding-top: 20px;
		padding-right: 10px;
		padding-left: 10px;
		width: 728px;
	}
	#sidebar {
		border-right: none;
		border-top: 2px solid #e8e8e8;
		padding-top: 20px;
		margin-bottom: 20px;
	}
}
@media screen and (min-width: 1001px) and (max-width: 1080px) {
	#navigation ul li a { font-size: 1.4em; }
}

@media screen and (min-width: 805px) and (max-width: 1000px) {
	#navigation ul li a { font-size: 1.25em; }
}

@media screen and (min-width: 769px) and (max-width: 804px) {
	#navigation ul li a { font-size: 1.1em; }
}

	